guidelines.md
*.pdb
*.gro
*.zip
*.tpr
*.edr
*.log
*.trr
*.swp
*.xvg
*.offsets
*.cpt
*.err
*.out
*.xtc
*.ndx
*.itp
*.top
*.mol2
log.*
.ipynb_checkpoints/
biobb_wf_protein-complex_md_setup/notebooks/*/
biobb_wf_protein-complex_md_setup/notebooks/*.png
biobb_wf_protein-complex_md_setup/notebooks/*.gif
biobb_wf_protein-complex_md_setup/notebooks/*.web*.ipynb
biobb_wf_protein-complex_md_setup/notebooks/*.docs.ipynb
*.old.ipynb
*.bk.ipynb
\#*\#